opensesame-core>=4.1.0a3
opensesame-extension-updater>=0.2.0a2
opensesame-extension-osweb>=2.2.7.1a1
opensesame-plugin-psychopy
opensesame-plugin-media_player_mpy
https://github.com/smathot/PyGaze/archive/refs/tags/release/0.8.8.tar.gz
https://github.com/open-cogsci/opensesame-windows-build-scripts/raw/refs/heads/master/libs/expyriment-0.10.0+opensesame2-py3-none-any.whl
# Psychopy dependencies below, manually fixed
numpy
scipy
matplotlib
pyglet==1.5.27
pillow
pyqt6
pandas
questplus
openpyxl
xmlschema
soundfile
imageio
imageio-ffmpeg
psychtoolbox
zope.event
gevent
MeshPy
psutil
pyzmq
ujson
msgpack
msgpack-numpy
pyyaml
freetype-py
python-bidi
arabic-reshaper
websockets
wxPython
markdown-it-py
requests
future
setuptools
python-gitlab
gitpython
cryptography
javascripthon @ git+https://gitlab.com/peircej/metapensiero.pj
astunparse
esprima
jedi
pyserial
ffpyplayer
opencv-python
python-vlc
pyobjc-core>8.0
pyobjc-framework-Quartz>8.0
pyobjc>8.0
pyobjc-framework-ScriptingBridge>8.0
zeroconf
tables
packaging
moviepy
pyarrow
beautifulsoup4
psychopy_visionscience
psychopy_sounddevice
